.box {
    box-shadow: 0 .1em 0.3em rgba(10,10,10,.1),0 0 0 1px rgba(10,10,10,.02);
}
.lead-meme {
    margin: 0 2px;
}
.lead-meme-img {
    height: 175px;
    width: 175px;
    object-fit: cover;
}
.leaderboard .fa-thumbs-up {
    margin-right: 3px;
}

@media only screen and (max-width: 680px) {
    .lead-meme-img {
        padding-right: 10px;
        height: 100px;
        width: 100px;
    }
}

@media only screen and (max-width: 1023px) {
    .box {
        margin-top: 1rem;
    }
    .scrolling-wrapper {
        white-space: nowrap;
        overflow-x: scroll;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
    }
    .scrolling-wrapper::-webkit-scrollbar {
        display: none;
      }
    .scrolling-wrapper .lead-meme {
        display: inline-block;
    }
}