.zoom-modal {
    text-align: center;
}

.zoom-modal .modal-content .image .like-button {
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 0.3;
}

.zoom-modal .modal-content .image .like-button:hover {
    opacity: 1;
}

.zoom-modal .modal-content {
    width: auto;
}

.modal-content .image > img {
    margin: 0 auto;
    min-width: 300px;
    max-width: 350px;
}