.navbar {
    margin:0 auto; 
    padding-top: 10px;
}

.app-name {
    font-family: 'Baloo Bhai', cursive;
}


@media only screen and (min-width: 960px) {
    .navbar {
        width: 66%;
    }
}

@media only screen and (max-width: 360px) {
    .navbar {
        width: 100%;
    }
}