.meme {
    border: 1px solid rgb(230, 230, 230)
}
.meme-wrapper-header {
    margin-top:-1.5rem;
    margin-bottom: 0.5rem;
    padding-left: 1.3rem;
}
.meme-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0.8rem;
} 
.meme-wrapper img {
    object-fit: cover;  
}
.meme-wrapper .meme:hover .is-overlay {
    opacity: 1;
}
.is-overlay {
    opacity: 0;
    transition: .05s ease;
    background-color: rgba(0, 0, 0, 0.5);
}
.is-overlay .like-count {
    position: absolute;
    top: 42%;
    left: 42%;
}
/* Larger screens */
@media only screen and (min-width: 550px) {
    .meme-wrapper {
        grid-template-columns: 1fr 1fr;
        justify-content: space-around;
    }
}
@media only screen and (min-width: 800px) {
    .meme-wrapper-header {
        margin-top:0;
    }
    .meme-wrapper {
        grid-template-columns: 1fr 1fr 1fr;
    }
}