.wrapper {
  width: 80%;
  height: 100%;
  margin: auto;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.card {
  width: 100%;
  height: 100%;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.05);
  opacity: .75;
}

/* .card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;  
} */

