.columns .is-6{
  padding: 1rem 0.75rem;
}

.meme {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.meme .like-button {
  position: absolute;
  height: 50px;
  width: 50px;
  z-index: 1;
  color: red;
  display: none;
}

/* .meme:hover .like-button {
  display:block;
} */


.logo {
  object-fit: contain;
}

@media only screen and (min-width: 1024px) {
  .wrapper {
    margin-top: 3rem;
  }
  .aside {
    top: 6.2rem;
    position: sticky;
    position: -webkit-sticky;
  }
}

