html, body {
  height: 100%;
  background: rgb(250, 250, 250);
}

.column {
  padding-right: 0;
}

.columns .is-6{
  padding: 1rem 0.75rem;
}

.meme {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  object-fit: contain;
}
.box {
  box-shadow: 0 .1em 0.3em rgba(10,10,10,0.3),0 0 0 1px rgba(10,10,10,.05);
}

@media only screen and (min-width: 1024px) {
  .wrapper {
    margin-top: 3rem;
  }
  .aside {
    top: 6.2rem;
    position: sticky;
    position: -webkit-sticky;
  }
}

@media only screen and (max-width: 768) {
  * {
    overflow-x: hidden;
  }
}

